<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ChortleService.Properties.Settings.ChortleDBConnectionString"
            connectionString="Data Source=kserv.ddns.net;Initial Catalog=ChortleDB;Persist Security Info=True;User ID=MitchellL;Password=Long1994"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>